[submodule "src/main/resources/i18n"]
	path = src/main/resources/i18n
	url = https://github.com/Kyuubey/translations.git
	branch = rewrite-compat
[submodule "backend"]
	path = backend
	url = https://github.com/Kyuubey/Akatsuki-Backend.git
